{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Edit Product - {{prooduct.title}}
{% endblock title %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6 mt-5 ">
                <h2>Edit Product - {{prooduct.title}}</h2>
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{form|crispy}}
                    <div class="mb-3">
                        <label for="images" class="form-label">Images</label>
                        <input type="file" name="images" multiple class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary" >Submit</button>
                    <a class="btn btn-danger" href="{% url 'products:product_delete' product.id %}">Delete</a>
                    <a class="btn btn-secondary" href="{% url 'products:product_detail' product.id %}">Back Detail</a>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock content %}