{% extends 'base.html' %}
{% load static %}

{% block title %}
    E-Bazar - Saved Products
{% endblock title %}

{% block content %}

<!-- Product Cart Start -->
<div class="container">
    <div class=" w-100 mt-4">
        <h4 class="d-block" >Saved Products</h4>
        <div class="d-flex flex-wrap justify-content-between">
            <!-- Product Cart Start -->
            {% for i in saveds %}
            <div class="card border border-0 shadow-sm d-inline-block m-1 mt-3" style="width: 16.5rem;" >
                {% if i.product.productimage_set.exists %}
                    <img height="200" class="card-img-top" src="{{ i.product.productimage_set.first.image.url }}" alt="">
                {% else %}
                    <img height="200" class="card-img-top" src="{% static 'product_images/HP-1.jpg' %}" alt="">
                {% endif %}
                <div class="card-body">
                    <h6 class="align-center card-title">{{ i.product.title }}</h6>
                    <span class="center card-text"><small>$ {{ i.product.price }}</small></span>
                    <div class="buttons d-flex flex-wrap justify-content-between ">
                    <a href="{% url 'products:product_detail' i.product.id %}" class="btn btn-outline-primary" >Details</a>
                    <a href="{% url 'users:addremovesaved' i.product.id %}" class="save-icon" data-product-id="{{ i.id }}">
                            {% if i.product in user.saved_products.all %}
                                <i class="bi bi-bookmark-fill text-success"></i>
                            {% else %}
                                <i class="bi bi-bookmark"></i>
                            {% endif %}
                        </a>  
                    </div>
                </div>
            </div> 
            {% endfor %} 
            <!-- Product Cart End -->
        </div>
    </div>
</div>
<!-- Product Cart End -->

{% endblock content %}